[Unit]
Description=BTCarAudio
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/home/pi/carDashboard/startupScript

[Install]
WantedBy=multi-user.target
